/* heading */
.contact {
    margin-top: 9vw;
  }
.image{
    width:100%;
    height:99%;
    object-fit: cover;
    overflow:hidden;
}
.text h2{
    padding:1.5vw;
    font-family:navfont;
    font-size: 35px;
}
.text p{
    padding-bottom: 0.8vw;
    font-family: heading;
    font-size: 20px;
}
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 8px;
  }
  
  input[type=submit] {
    background-color: var(--dgreen);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--lgreen);
  }
  
  /* contact section */
  .container {
    background-color: white;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: 30px;
    padding: 20px;
    height:90vh;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .form{
      margin-top:10vh;
      font-family:navfont;
  }
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 20px;
    }
  }